[Unit]
Description=Spark
After=network.target

[Service]
User=spark
Group=spark
RuntimeDirectory=spark
PIDFile=/opt/spark/spark-spark-org.apache.spark.deploy.master.Master-1.pid
ExecStart=/opt/spark/sbin/start-all.sh
ExecStop=/opt/spark/sbin/stop-all.sh
StandardOutput=journal
StandardError=journal
OOMScoreAdjust=-500
LimitNOFILE=infinity
LimitMEMLOCK=infinity
LimitNPROC=infinity
LimitAS=infinity
Environment=
CPUAccounting=true
CPUShares=1000

[Install]
WantedBy=multi-user.target